{%extends 'base.html'%}
{% load crispy_forms_tags %}

{%block body%}
<br>
<div class="row" style="align-content: center;">
        <div class="col-sm col-md-2 offset-2">
            <div class="container">
                   <form class="d-flex" action="" method="POST">
                        {% csrf_token %}
                        <select name="status" class="form-control"  style="width: 150px;" required>
                            <option disabled selected value>select Status</option>
                            <option value="paid">Paid</option>
                            <option value="unpaid">Unpaid</option>

                        
                        </select>
                        <input class="btn btn-warning btn-sm" type="submit" value="Filter">
                    </form>
            </div>
        </div>

        <div class="col-md col-md-4 ">
            <div class="container">
                <a href="{%url 'create-subscription'%}" class="btn btn-primary btn-md">Create</a>
            </div>

        </div>
    </div>
    <br>

    <div class="row">
        <div class=" col-sm-9 offset-2">
            <div class="card card-body">
               
                    <h4 class="text-center alert alert-info">List Of All Subscription</h4>
        {% if enquires %}
        <table class="table table-hover">
            <thead>
                <tr>
                   
                    <th scope="col">Customer Name</th>
                    <th scope="col">amount</th>
                    <th scope="col">from_date</th>
                    <th scope="col">to_date</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for subscriber in enquires %}
                <tr>
                    <td>{{subscriber.customer_name.name}}</td>
                    <td>{{subscriber.amount}}</td>
                    <td>{{subscriber.from_date}}</td>
                    <td>{{subscriber.to_date}}</td>
                    <td>{{subscriber.customer_name.email}}</td>
                    <td>{{subscriber.status}}</td>
                     <td>
                        <a href="{%url 'update-subscription' subscriber.id  %}" class="btn btn-secondary btn-sm">Edit</a>
                        <a href="{%url 'delete-subscription' subscriber.id  %}" class="btn btn-danger btn-sm">Delete</a>
                        
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <h4 class="text-center alert alert-warning">No Records</h4>
        {% endif %}









            </div>

        </div>
    </div>
 
{%endblock body%}