<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main-page'%}">Billing System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 pull-right">
        
      </ul>
      <span class="navbar-text">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {%if request.user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link active me-2 pull-right" aria-current="page" href="{%url 'logout'%}">Logout</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link active me-2 pull-right" aria-current="page" href="{%url 'sign_in'%}">Login</a>
        </li>


        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'sign_up'%}">Register</a>
        </li>
        <span class="navbar-text">
      </span>
        {%endif%}
      </ul>
      </span>
    </div>
  </div>
</nav>